@font-face {
    font-family: aegyptus;
    src: url(Aegyptus.ttf);
}

.vocabulary {
    border-collapse: collapse;
}

.vocabulary th {
    border: 1px solid black;
}

.vocabulary td {
    border: 1px solid black;
    padding: 5px;
}

.vocabulary td img {
    max-width: 100px;
}

.vocabulary td.image {
    text-align: center;
    width: 100px;
}

.vocabulary td.word {
    text-align: center;
    width: 50px;
    max-width: 100px;
    height: 50px;
    font-size: 0.8em;
}

.vocabulary td.type {
    text-align: center;
    width: 100px;
    height: 50px;
}

.vocabulary td.description {
    text-align: left;
    font-size: 0.8em;
    width: 300px;
    height: 50px;
}
  
.row {
    font-family: aegyptus;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-left: 2px;
    height: 60px;
}

.line {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.line.one {
    font-size: 3em;
    height: 60px;
}

.line.one {
    padding-top: 100%;
}

.line.half {
    font-size: 2.5em;
    height: 30px;
}

.line.third {
    font-size: 2em;
    height: 20px;
}


